// Floating Windows

// Focus Rofi immediately (translated: open-floating, perhaps no-focus false)
window-rule {
    match app-id=r#"^rofi$"#
    open-floating true
}

// Volume Control
window-rule {
    match title=r#"^Pipewire Volume Control$"#
    open-floating true
}
window-rule {
    match title=r#"^Volume Control$"#
    open-floating true
}

// Stardew Valley & Grub
window-rule {
    match app-id=r#"^StardewModdingAPI$"#
    open-floating true
}
window-rule {
    match app-id=r#"^grub-customizer$"#
    open-floating true
}

// File Picker
window-rule {
    match app-id=r#"^org\.freedesktop\.impl\.portal\.desktop\.kde$"#
    open-floating true
}
window-rule {
    match app-id=r#"^com.system76.CosmicFilesDialog$"#
    open-floating true
}
window-rule {
    match title=r#"^Rename$"#
    open-floating true
}

window-rule {
    match app-id=r#"^xdg-desktop-portal-gtk$"#
    open-floating true
}

// Blueman Manager
window-rule {
    match app-id=r#"^blueman-manager$"#
    open-floating true
}
window-rule {
    match app-id=r#"^io\.github\.kaii_lb\.Overskride$"#
    open-floating true

}
window-rule {
    match title=r#"^Bluetooth Devices$"#
    open-floating true
}
window-rule {
    match title=r#"^Calendar$"#
    open-floating true
}

// Network & Connections
window-rule {
    match app-id=r#"^nm-connection-editor$"#
    open-floating true
}
window-rule {
    match app-id=r#"^org.netrs.ui$"#
    open-floating true
}
window-rule {
    match app-id=r#"^cmst$"#
    open-floating true
}
window-rule {
    match app-id=r#"^org.nmrs.ui$"#
    open-floating true
}

// LACT
window-rule {
    match app-id=r#"^lact$"#
    open-floating true
}

// Cider
window-rule {
    match title=r#"^Cider$"#
    open-floating true
}

// Calculator
window-rule {
    match title=r#"^KCalc$"#
    open-floating true
}

// Picture-in-Picture
window-rule {
    match title=r#"^Picture[- ]in[- ][Pp]icture$"#
    open-floating true
    opacity 1.0
}

// XWayland Video Bridge
window-rule {
    match app-id=r#"^xwaylandvideobridge$"#
    opacity 0.0
}

// Matlab Figures
window-rule {
    match title=r#"^Figures$"#
    open-floating true
}




// General Rules

// Gaming & Idle
// window-rule {
//     match is-fullscreen
//     inhibit-idle true
// }

window-rule {
    match title=r#"^Fallout4$"#
    open-fullscreen true
}
window-rule {
    match app-id=r#"^steam_app_$"#
    open-fullscreen true
}
window-rule {
    match app-id=r#"^com.moonlight_stream.Moonlight$"#
    open-fullscreen true
}
window-rule {
    match title=r#"^Ultimate Chicken Horse$"#
    open-fullscreen true
}
window-rule {
    match is-floating=false
    open-maximized-to-edges false
    geometry-corner-radius 6
    clip-to-geometry true
}


window-rule {
    match is-floating=true

    default-column-width { proportion 0.6; }
    default-window-height { proportion 0.5; }
}


// Other Options

window-rule {
    match app-id=r#"^brave-browser$"#
    open-maximized true
}
    
