

* {
    font-family: "Roboto","JetBrainsMono Nerd Font" ;
    border: none;
    border-radius: 0px;
    margin: 0px 3px 0px 3px;
    font-weight: bold;
}

window#waybar {
    background-color: rgba(0,0,0,0.4);
    border-bottom: 0px solid #ffffff;
    /* color: #FFFFFF; */
    transition-property: background-color;
    transition-duration: .5s;
    border-radius: 15px;
    
}

#custom-appmenu {
    /*background: #ffffff;*/
    font-size: 18px;
    color: #f2f2f2;
    border-radius: 100px;
    padding: 1px 13px 0px 7px;
    margin: 5px 14px 5px 14px;
    opacity:0.8;
    border:3px solid;
    
}

#custom-browser,
#custom-terminal,
#custom-filemanager {

    margin: 0px 20px 0px 0px;
    border-left: 0px;
    border-right: 4px;
    padding: 0px 0px 0px 0px;

}

#custom-browser,
#custom-filemanager{


    font-size: 140%;
}
#custom-terminal {
    font-size: 180%;
}
#custom-browser {
     margin-left: 5px;
}

#window {
    font-size: 120%;
    padding: 0px 0px 0px 0px;
    font-weight: bold;

}

#workspaces {


    border-radius: 15px;
    border: 0px;
    font-weight: bold;
    font-style: normal;
    opacity: 0.8;
    font-size: 16px;
    margin: 5px 0px 5px 0px;
    
}

#workspaces button {

    margin-right: 5px;
    border-radius: 15px;
    
    color: #ffffff;
    transition: all 0.3s ease-in-out;
    opacity: 1;

}

#workspaces button.active {
    color: #000000;
    background: #ffffff;
    
    min-width: 40px;
    transition: all 0.3s ease-in-out;
    opacity:1.0;
}

#workspaces button:hover {
    color: #000000;
    background: #ffffff;
    
    opacity:0.7;
}


#wireplumber {

    font-size: 16px;
    color: #ffffff;
    

    margin: 8px 8px 8px 0px;
    opacity:0.8;
}



#network {

    font-size: 16px;
    color: #ffffff;
    border-radius: 15px;
    margin: 8px 15px 8px 0px;
    opacity:0.8;
}







#cpu {

    font-size: 16px;
    margin: 0px 0px 0px 8px;
}

#memory {
    margin: 0px 15px 0px 0px;
    font-size: 16px;
}

#tray {

   margin: 0px 15px 0px 5px;
   font-size: 120%;
   
    
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}


  


#custom-exit {

    margin: 0px 15px 0px 5px;
    font-size: 120%;
}


#backlight{

    margin: 0px 15px 0px 5px;
    font-size: 115%;
}

#battery{

    margin: 0px 15px 0px 5px;
    font-size: 115%;
}


#idle_inhibitor{

    margin: 0px 18px 0px 0px;
    font-size: 115%;
}



#clock {
    background-color: transparent;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    border-radius: 15px;
    padding: 0px 8px 0px 8px;
    margin: 5px 15px 5px 13px;
    opacity: 1;
    border:3px;
    
    border-style: solid;   
}




/* -----------------------------------------------------
 * Bluetooth
 * ----------------------------------------------------- */

 #bluetooth, #bluetooth.on, #bluetooth.connected {

    font-size: 16px;
    color: #ffffff;
    border-radius: 15px;
    margin: 8px 18px 8px 0px;
    opacity:0.8;
}

#bluetooth.off, #bluetooth.disabled {
    background-color: transparent;
    padding: 0px;
    margin: 8px 18px 8px 0px;
}




