// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.

output "eDP-1" {
    mode "2880x1800@120"
    scale 2
    transform "normal"
    position x=0 y=0
    variable-refresh-rate
}

output "Dell Inc. DELL U2412M 0FFXD4152LWL" {
    mode "1920x1200@59.95"
    scale 1
    position x=320 y=-1200
}

include "/home/mate/dotfiles/config/niri/conf/keyboard.kdl"
include "/home/mate/dotfiles/config/niri/conf/windowrules.kdl"
include "/home/mate/dotfiles/config/niri/conf/autostart.kdl"
include "/home/mate/dotfiles/config/niri/conf/looks.kdl"
include "/home/mate/dotfiles/config/niri/conf/environment.kdl"
