// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.

/-output "eDP-1" {
    // mode "1920x1080@120.030"
    scale 2
    transform "normal"
    position x=1280 y=0
}

include "/home/mate/dotfiles/config/niri/conf/keyboard.kdl"
include "/home/mate/dotfiles/config/niri/conf/windowrules.kdl"
include "/home/mate/dotfiles/config/niri/conf/autostart.kdl"
include "/home/mate/dotfiles/config/niri/conf/looks.kdl"
include "/home/mate/dotfiles/config/niri/conf/environment.kdl"
